*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, Helvetica, Arial, Verdana;
}

/*
html {
    min-height: 100%;
    position: relative;
    overflow: scroll;
    taking away overdlow hidden causes white space
    min-height, stops window view
    and stops menu and socials from sticking. Position needs to be relative?
    Scoll window to - doesn't work with the above.
  }
*/

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
  }

body {
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
    background: var(--lightGrey);
    display: block !important;
}

/* *** *** Root Styles *** *** */
:root {
    --black: #000;
    --white: #fff;
    --darkGrey: #4D4C4D; 
    --mediumGrey: #c7c7c7; 
    --lightGrey: #F1F1F1; 
    --aqua: #4ee2d5;
    --pink: #ff99cf;
    --red: #e34e5c;
    --offMint: #b9d08d;
    --softNavy: #018499;
    --yellow: #fcc904;
}

/* *** *** Headers, Paragraph, Image *** *** */
h1 {font-size: 40px; padding: 0.5rem; line-height: 2.2rem; font-weight: 400; letter-spacing: 1.5px; color: var(--darkGrey);}
h2 {font-size: 35px; padding: 0.5rem; line-height: 2rem; font-weight: 400; letter-spacing: 1.5px; color: var(--darkGrey);}
h3 {font-size: 30px; padding: 0.5rem; line-height: 1.8rem; font-weight: 400; letter-spacing: 1.5px; color: var(--darkGrey);}
h4 {font-size: 25px; padding: 0.5rem; line-height: 1.5rem; font-weight: 400; letter-spacing: 1.5px; color: var(--darkGrey);}
h5 {font-size: 20px; padding: 0.5rem; line-height: 1.5rem; font-weight: 400; letter-spacing: 1.5px; color: var(--darkGrey);}
h6 {font-size: 18px; padding: 0.5rem; line-height: 1.5rem; font-weight: 300; letter-spacing: 1.5px; color: var(--darkGrey);}
p  {font-size: 16px; padding-left: 0.5rem; margin: 1rem 0rem; padding-right: 0.5rem; line-height: 1.5rem; font-weight: 300; letter-spacing: 1.5px; color: var(--darkGrey);}
ul {padding-left: 2rem; margin: 0.5rem 0rem;}
li {font-size: 16px; line-height: 1.5rem; font-weight: 300; letter-spacing: 1.5px; color: var(--darkGrey);}
a  {color: inherit; text-decoration: underline;}
a:hover {cursor: pointer; color: inherit; filter: brightness(0.8);}

span {
    color: var(--softNavy); 
    font-weight: 500;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}


/* *** *** Top Nav *** *** */
nav {
    display: grid;
    position: fixed;
    grid-template-columns: 2fr 6fr 3fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: center;
    background-color: var(--yellow);
    z-index: 99;
    padding: 0.5rem;
}

/* *** *** Logo *** *** */
.nav-logo {
    display: grid;
    grid-area: 1 / 1 / 3 / 2; 
    padding: 0 1rem 0.3rem 1rem;
    opacity: 0.8;
    rotate: -5deg;
    filter: drop-shadow(5px 5px var(--softNavy));
}

/* *** *** nav middle section *** *** */
.nav-info {
    display: grid;
    grid-area: 1 / 2 / 2 / 3; 
    padding: 1rem 0rem 0.5rem 0rem;
}

.nav-info p {
    color: var(--darkGrey);
    margin: 0rem;
}

.nav-info span {
    color: var(--softNavy);
    font-weight: 600;
    margin: 0rem;
}

.nav-background {
    display: grid;
    grid-area: 2 / 2 / 3 / 3; 
    margin: -3rem 0rem -2rem -0.1rem;
}

/* *** *** Search *** *** */
.nav-search {
    display: grid;
    grid-area: 1 / 3 / 3 / 4; 
    background: var(--softNavy);
    border-radius: 30px; 
    border: solid 1.5px var(--lightGrey);
    box-shadow: 0px 0px 15px -5px var(--darkGrey);
    width: 100%;
    grid-template-columns: 3fr 1fr;
    padding: 0.1rem 0.35rem;
}

.searchText {
    display: grid;
    align-self: center;
}

.searchText h6 {
    color: var(--lightGrey);
    letter-spacing: 0.12rem; 
}

.searchIcon {
    display: grid;
    justify-self: end;
    align-self: center;
}

.nav-search:hover 
.searchIcon {
    transform: rotateY(180deg);
    }

/* *** ***  Nav Menu Toggle *** *** */
.nav-toggle-container {
    display: grid;
    grid-area: 1 / 4 / 3 / 5; 
}

.togglenav {
    margin-top: 0.3rem;
    overflow: hidden;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 2rem 2rem 0rem 0rem;
    background: transparent; 
    z-index: 2;
  }
  
  .togglenav #myLinks {
    display: none;
    text-align: right;
    margin: 2rem -1.5rem 0rem 0rem;
    background-color: var(--yellow);
    min-height: 50vh;
    min-width: 20vw;
    border: var(--darkGrey) solid 2px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
  }
  
  .togglenav a {
    padding: 10px 16px;
    display: block;
    text-align: right;
    font-size: 24px;
    font-family: 'Comic Sans MS';
    font-weight: 100;
    text-decoration: none;
    color: var(--darkGrey);
  }
  
  .togglenav a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .togglenav a:hover {
      color: var(--softNavy);
      cursor: pointer;
      filter: brightness(1);
  }
  
  .active {
    color: var(--lightGrey);
  }
  
  .fa-main {
      display:inline-block;
      text-rendering:auto;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
  }
  
  .fa-main-bars:before {
      content: url("./media/toggleIcon_blue.svg");
  }
  
  .fa-main-bars:hover {
      content: url("./media/toggleIcon_grey.svg");
  }



/* *** *** Page Wave *** *** */
.page-wave {
    background-color: var(--lightGrey);
}

.page-wave-svg {
    background-color: transparent;
    display: block;
    height: 50px;
    position: relative;
    top: -1px;
    width: 100%;
    height: 20px;
}

.page-wave-path {
    fill: var(--softNavy);
}

#wave {
    background-color: var(--lightGrey);
}

/* *** *** Page Wave Menu*** *** */
.page-wave-menu {
    background-color: var(--lightGrey);
}

.page-wave-svg-menu {
    background-color: transparent;
    display: block;
    height: 50px;
    position: relative;
    top: -1px;
    width: 100%;
    height: 20px;
}

.page-wave-path-menu {
    fill: var(--yellow);
}

.landingPage-wave {
    background-color: var(--yellow);
}

#wave-menu {
    background-color: var(--lightGrey);
}

#wave-menu-festpg {
    margin: 7.2rem 0rem 0rem 0rem;
}


/* *** *** Footer *** *** */
.footer {
    background-color: var(--softNavy);
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 50px;
    position: relative;
    top: -1px;
    width: 100%;
    height: 20px;
}

.footer-wave-path {
    fill: var(--lightGrey);
}

.footer-wave-path-landingPage {
    fill: var(--yellow);
}
f.footer-social-amoeba-path-landingPage {
    fill: var(--softNavy);
}
.footer-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
  
.card-title {
    border-bottom: solid 0.1rem var(--lightGrey);
    width: 40vw;
    padding-bottom: 1rem;
}

.footer p  {
    color: var(--lightGrey);
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
}

.footer h5  {
    color: var(--yellow);
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    filter: none;
}

.btn-primary {
    color: var(--softNavy);
    background-color: var(--yellow);
    border-color: var(--lightGrey);
}

.btn-primary:hover {
    color: var(--softNavy);
    background-color: var(--lightGrey);
    border-color: var(--softNavy);
    cursor: pointer;
}


/* *** *** Social Media Links *** *** */
.footer-social-links {
    bottom: 0;
    height: 50px;
    position: absolute;
    right: 0;
    width: 260px;
}
  
.footer-social-amoeba-svg {
    height: 50px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}
  
.footer-social-amoeba-path {
    fill: var(--yellow);
}
.footer-social-amoeba-path-landingPage {
    fill: var(--softNavy);
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
  }
  
.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}
  
.footer-social-icon-svg {
    display: block;
}
  
.footer-social-icon-path {
    fill: var(--lightGrey);
    transition: fill .2s;
}

.footer-social-icon-path:hover {
    fill: var(--softNavy);
    transition: fill .2s;
}
  
.footer-social-link.instagram {
    height: 56px;
    left: 12px;
    top: 12px;
    width: 56px;
}

.footer-social-link.tiktok {
    height: 60px;
    left: 66px;
    top: 3px;
    width: 60px;
}

.footer-social-link.threads {
    height: 60px;
    left: 122px;
    top: 12px;
    width: 60px;
}

.footer-social-link.facebook {
    height: 65px;
    left: 172px;
    top: 11px;
    width: 65px;
}


/* *** *** Footer Copyright *** *** */
.footer-copyright {
    background-color: var(--yellow);
    color: var(--softNavy);
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.footer-copyright-text {
    color: var(--softNavy);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: var(--softNavy);
    text-decoration: none;
}

/*
.{
    animation: rainbow 30s linear;
    animation-iteration-count: infinite;
}
@keyframes rainbow{
    100%,0%{
        background-color: var(--aqua);
    }
    15%{
        background-color: var(--softNavy);
    }
    30%{
        background-color: var(--offMint);
    }
    45%{
        background-color: var(--yellow);
    }
    60%{
        background-color: var(--red);
    }
    75%{
        background-color: var(--pink);
    }
}
*/


table, th, td {
    border: 1px solid var(--mediumGrey);
    padding: 0.5rem;
  }

table {
    width: 90%;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    font-size: 12px; 
    line-height: 1.5rem; 
    font-weight: 300;
    letter-spacing: 1.5px; 
    color: var(--darkGrey);
}

th {
    background-color: var(--softNavy);
    color: var(--white);
    border: 1px solid var(--softNavy);
}

td:nth-child(1){
    font-weight: 600;
    color: var(--softNavy);
  }

td {
    vertical-align: top;
}
